<mat-toolbar color="primary">
  <span>Keycloak Demo</span>
  <a mat-button [routerLink]="['/patients']" *ngIf="userDetails">Patients</a>
  <span class="spacer"></span>
  <a mat-button routerLink="." (click)="doLogin()" *ngIf="!userDetails"
    >Sign In</a
  >
  <button
    mat-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
    *ngIf="userDetails"
  >
    <mat-icon>account_circle</mat-icon>
    <span>{{ userDetails.firstName }}</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="doLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div class="container mat-elevation-z8">
  <router-outlet></router-outlet>
</div>
